/* Conteneur pour l'image et le message */
.image-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
}

.image-wrapper p {
    position: absolute;
    top: 50%; /* Position centrale */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 5px 10px;
    border-radius: 10px; /* Coins arrondis */
}
